@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	box-sizing: border-box;
	font-family: 'IBM Plex Sans', sans-serif;
}
/*general background markers*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
}
body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Stuyvesant_High_School_with_the_World_Trade_Center_in_the_distance.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: rgba(100,100,100,.5);
  	background-blend-mode: multiply;
}
/*mainpage logo markers*/
#logo {
	height: 95vh;
}
#logo img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 25em;
}
/*navbar section marker*/
nav {
	height: 5vh;
	max-width: 100%;
	margin: auto;
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	/* Bottom only:*/
	box-shadow: 0 2px 2px -2px black;/**/
	/* All around:
	box-shadow: 0 0 2px black;*/
}
nav a {
	text-decoration: none;
	font-size: 18px;
	color: black;
}
nav a:hover {
	color: grey;
}
main, footer {
	max-width: 100%;
	margin: auto;
	background-color: white;
	padding: 20px;
}
/*main {
	padding-left: 20em;
	padding-right: 20em;
}*/
/*colored sections in index*/
#columncontainer > section {
	flex-basis:29em;
	flex-grow:1;
}
/*about us biography markers*/
h1.header {
	text-align: center;
}
h2.title {
	text-align: center;
}
/*holds a group of biographical data*/
div.bio_holder {
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/*holds biographical data of 1 person*/
div.bio {
	width: 20em;
}
div.bio > h3 {
	text-align: center;
	margin: 0;
}
/*holds their photo*/
div.portrait {
	margin-top: 10px;
	width: 100%;
}
div.portrait > img {
	width: 15em;
	height: 15em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	object-fit: cover;
	transform: rotate(0deg);
	border-radius: 50%;
}
/*holds their contact info*/
p.contact {
	text-align: center;
}
p.contact > a {
	text-decoration: none;
	color: black;
}
p.contact > a:hover {
	text-decoration: none;
	color: blue;
}
a {
	color: black;
}
a:hover {
	color: grey;
}
/*holds google forms*/
div.form {
	justify-content: space-around;
	display: flex;
	align-items: center;
	background: white;
	border-radius: 1em;
	margin-left: 5em;
	margin-right: 5em;
	padding: 1em;
}
/*footer alignment*/
footer {
	text-align: center;
}
/*searchable table css*/
#columncontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.column {
	flex-basis: 29em;
	flex-grow: 1;
	padding: 5px;
}

.search {
  width: 100%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchable_table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.searchable_table th, .searchable_table td {
  text-align: left;
  padding: 12px;
}

.searchable_table tr {
  border-bottom: 1px solid #ddd;
}
