/*navbar section marker*/
nav {
	height: 50px;
	max-width: 100%;
	margin: auto;
	display: flex;
	position: sticky;
	top: 0;
	background-color: white;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	/* Bottom only:*/
	box-shadow: 0 2px 2px -2px black;/**/
	/* All around:
	box-shadow: 0 0 2px black;*/
}

nav a {
	text-decoration: none;
	font-size: 18px;
	color: black;
}

nav a:hover {
	color: grey;
}
/*ID tags that separate the collapsable portions of the navbar*/
#navbarHomeHeader, #navbarLinks {
	display: inherit;
	align-items: center;
}
/*percentage occupied by each navbar section*/
#navbarHomeHeader {
	width:60%;
}

#navbarLinks {
	width: 40%;
	justify-content: space-around;
	display: flex;
}
/*sets the position of the navbar hamburger menu to a static location*/
nav > .hamburger {
	position: absolute;
	display: none;
	right:0px;
}
/*mobile navbar CSS*/
@media screen and (max-width:60em) {
	/*shows the hamburger menu when screen is small enough*/
	nav > .hamburger {
		display: block;
	}
	/*Makes the home page link a static area*/
	#navbarHomeHeader {
		position: absolute;
		left:0;
	}
	/*CSS for the links container once the hamburger menu is clicked and revealed*/
	#navbarLinks {
		display: none;
	}
	#navbarLinks.active {
		top: 52px;
		max-height:100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}
	/*CSS for the boxes that appear from the hamburger menu*/
	#navbarLinks > a {
		flex-basis: 100%;
		padding: 14px;
		background-color: ghostwhite;
	}
}
